.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-button_preview {
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-button:hover {
  opacity: 1;
  transition: 0.1s ease-in;
}

.modal__close-button_preview:hover {
  opacity: 0.4;
  cursor: pointer;
}
.modal__title {
  color: #212121;
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  width: 630px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}
.modal__input::placeholder {
  opacity: 0.3;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  color: rgba(255, 0, 0, 0.7);
  font-size: 16px;
  line-height: 1.1;
  margin-top: 8px;
}
.modal__image-container {
  position: relative;
}
.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}
.modal__caption {
  color: white;
  background-color: #212121;
  padding: 4px 8px;
  border-radius: 8px;
  max-width: fit-content;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.modal__submit-button:hover {
  opacity: 0.8;
  transition: 0.25s ease-in;
}
.modal__submit-button_disabled {
  opacity: 0.5;
}
@media screen and (max-width: 320px) {
  .modal__container {
    margin: 0 10px;
  }
}
@media screen and (max-width: 480px) {
  .modal_type_preview {
    margin: 0;
    padding: 0;
  }
  .modal__image {
    max-width: 288px;
    padding: 0;
  }
  .modal__caption {
    font-size: 16px;
  }
}
@media screen and (max-width: 750px) {
  .modal {
    width: 100%;
    top: 12px;
    right: 12px;
    margin: auto;
  }
  .modal__close-button {
    top: 12px;
    right: 12px;
  }
  .modal__close-button_preview {
    top: -48px;
    right: 0;
  }
  .modal__container {
    width: 276px;
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }
  .modal__label {
    width: 100%;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
  }
  .modal__input {
    font-size: 16px;
  }

  .modal__submit-button {
    width: 100%;
  }
}
